<div class="login-page">
  <h1>Login</h1>
  <form [formGroup]="loginForm" (ngSubmit)="verifyingdata()">

    <div>
      <mat-form-field appearance="fill">
        <input matInput type="email" formControlName="myemail" required placeholder="Email Address">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <input matInput type="password" formControlName="mypass" required placeholder="Password">
      </mat-form-field>
    </div>
    <div>
      <button type="submit" mat-stroked-button color="primary">Register</button>
      <button mat-stroked-button color="primary" style="margin-left: 50px;">Login</button>
    </div>

  </form>
</div>