<!-- list of categories  -->
<!-- 
All
Electronics
Computers
Mechanics
Aeronautics
Metallurgy -->

<div class="container;list-bar-chips">
    <mat-toolbar>
        <mat-chip-list class="mat-chip-list">
            <mat-chip style="background-color: rgb(194, 57, 80);">All</mat-chip>
            <mat-chip>Electronics</mat-chip>
            <mat-chip>Computers</mat-chip>
            <mat-chip>Mechanics</mat-chip>
            <mat-chip>Aeronautics</mat-chip>
            <mat-chip>Metallurgy</mat-chip>
        </mat-chip-list>
    </mat-toolbar>
</div>

<app-video-content></app-video-content>